# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
replit_zip_error_log.txt
replit.nix
uv.lock
*.pyc
generated-icon.png
*_backup
*_bu
.replit
.upm/
.local/
.cache/

#Streamlit
.streamlit/

# Logs
*.log

# Database
*.sqlite3
*.db

# Environment variables
# .env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Keep these files
!requirements.txt
!README.md
!Dockerfile
!compose.yaml
!data/xri_backup123124.sql
.DS_Store
.DS_Store
node_modules/.modules.yaml
node_modules/.pnpm/lock.yaml
node_modules/.pnpm/@neondatabase+serverless@0.9.5/node_modules/@neondatabase/serverless/CHANGELOG.md
node_modules/.pnpm/@neondatabase+serverless@0.9.5/node_modules/@neondatabase/serverless/CONFIG.md
node_modules/.pnpm/@neondatabase+serverless@0.9.5/node_modules/@neondatabase/serverless/DEPLOY.md
node_modules/.pnpm/@neondatabase+serverless@0.9.5/node_modules/@neondatabase/serverless/DEVELOP.md
node_modules/.pnpm/@neondatabase+serverless@0.9.5/node_modules/@neondatabase/serverless/index.d.mts
node_modules/.pnpm/@neondatabase+serverless@0.9.5/node_modules/@neondatabase/serverless/index.d.ts
node_modules/.pnpm/@neondatabase+serverless@0.9.5/node_modules/@neondatabase/serverless/index.js
node_modules/.pnpm/@neondatabase+serverless@0.9.5/node_modules/@neondatabase/serverless/index.mjs
node_modules/.pnpm/@neondatabase+serverless@0.9.5/node_modules/@neondatabase/serverless/LICENSE
node_modules/.pnpm/@neondatabase+serverless@0.9.5/node_modules/@neondatabase/serverless/package.json
node_modules/.pnpm/@neondatabase+serverless@0.9.5/node_modules/@neondatabase/serverless/README.md
node_modules/.pnpm/@neondatabase+serverless@0.9.5/node_modules/@types/pg
node_modules/.pnpm/@types+node@22.13.4/node_modules/undici-types
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/assert.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/async_hooks.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/buffer.buffer.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/buffer.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/child_process.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/cluster.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/console.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/constants.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/crypto.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/dgram.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/diagnostics_channel.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/dns.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/dom-events.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/domain.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/events.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/fs.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/globals.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/globals.typedarray.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/http.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/http2.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/https.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/index.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/inspector.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/LICENSE
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/module.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/net.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/os.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/package.json
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/path.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/perf_hooks.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/process.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/punycode.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/querystring.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/readline.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/README.md
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/repl.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/sea.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/sqlite.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/stream.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/string_decoder.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/test.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/timers.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/tls.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/trace_events.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/tty.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/url.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/util.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/v8.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/vm.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/wasi.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/worker_threads.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/zlib.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/assert/strict.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/compatibility/disposable.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/compatibility/index.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/compatibility/indexable.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/compatibility/iterators.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/dns/promises.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/fs/promises.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/readline/promises.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/stream/consumers.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/stream/promises.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/stream/web.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/timers/promises.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/ts5.6/buffer.buffer.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/ts5.6/globals.typedarray.d.ts
node_modules/.pnpm/@types+node@22.13.4/node_modules/@types/node/ts5.6/index.d.ts
node_modules/.pnpm/@types+pg@8.11.6/node_modules/pg-protocol
node_modules/.pnpm/@types+pg@8.11.6/node_modules/pg-types
node_modules/.pnpm/@types+pg@8.11.6/node_modules/@types/node
node_modules/.pnpm/@types+pg@8.11.6/node_modules/@types/pg/index.d.ts
node_modules/.pnpm/@types+pg@8.11.6/node_modules/@types/pg/LICENSE
node_modules/.pnpm/@types+pg@8.11.6/node_modules/@types/pg/package.json
node_modules/.pnpm/@types+pg@8.11.6/node_modules/@types/pg/README.md
node_modules/.pnpm/@vercel+postgres@0.10.0/node_modules/bufferutil
node_modules/.pnpm/@vercel+postgres@0.10.0/node_modules/ws
node_modules/.pnpm/@vercel+postgres@0.10.0/node_modules/@neondatabase/serverless
node_modules/.pnpm/@vercel+postgres@0.10.0/node_modules/@vercel/postgres/license.md
node_modules/.pnpm/@vercel+postgres@0.10.0/node_modules/@vercel/postgres/package.json
node_modules/.pnpm/@vercel+postgres@0.10.0/node_modules/@vercel/postgres/README.md
node_modules/.pnpm/bufferutil@4.0.9/node_modules/node-gyp-build
node_modules/.pnpm/bufferutil@4.0.9/node_modules/bufferutil/binding.gyp
node_modules/.pnpm/bufferutil@4.0.9/node_modules/bufferutil/fallback.js
node_modules/.pnpm/bufferutil@4.0.9/node_modules/bufferutil/index.js
node_modules/.pnpm/bufferutil@4.0.9/node_modules/bufferutil/LICENSE
node_modules/.pnpm/bufferutil@4.0.9/node_modules/bufferutil/package.json
node_modules/.pnpm/bufferutil@4.0.9/node_modules/bufferutil/README.md
node_modules/.pnpm/bufferutil@4.0.9/node_modules/bufferutil/node_modules/.bin/node-gyp-build
node_modules/.pnpm/bufferutil@4.0.9/node_modules/bufferutil/node_modules/.bin/node-gyp-build-optional
node_modules/.pnpm/bufferutil@4.0.9/node_modules/bufferutil/node_modules/.bin/node-gyp-build-test
node_modules/.pnpm/bufferutil@4.0.9/node_modules/bufferutil/prebuilds/darwin-x64+arm64/bufferutil.node
node_modules/.pnpm/bufferutil@4.0.9/node_modules/bufferutil/prebuilds/linux-x64/bufferutil.node
node_modules/.pnpm/bufferutil@4.0.9/node_modules/bufferutil/prebuilds/win32-ia32/bufferutil.node
node_modules/.pnpm/bufferutil@4.0.9/node_modules/bufferutil/prebuilds/win32-x64/bufferutil.node
node_modules/.pnpm/bufferutil@4.0.9/node_modules/bufferutil/src/bufferutil.c
node_modules/.pnpm/node-gyp-build@4.8.4/node_modules/node-gyp-build/bin.js
node_modules/.pnpm/node-gyp-build@4.8.4/node_modules/node-gyp-build/build-test.js
node_modules/.pnpm/node-gyp-build@4.8.4/node_modules/node-gyp-build/index.js
node_modules/.pnpm/node-gyp-build@4.8.4/node_modules/node-gyp-build/LICENSE
node_modules/.pnpm/node-gyp-build@4.8.4/node_modules/node-gyp-build/node-gyp-build.js
node_modules/.pnpm/node-gyp-build@4.8.4/node_modules/node-gyp-build/optional.js
node_modules/.pnpm/node-gyp-build@4.8.4/node_modules/node-gyp-build/package.json
node_modules/.pnpm/node-gyp-build@4.8.4/node_modules/node-gyp-build/README.md
node_modules/.pnpm/node-gyp-build@4.8.4/node_modules/node-gyp-build/SECURITY.md
node_modules/.pnpm/node-gyp-build@4.8.4/node_modules/node-gyp-build/node_modules/.bin/node-gyp-build
node_modules/.pnpm/node-gyp-build@4.8.4/node_modules/node-gyp-build/node_modules/.bin/node-gyp-build-optional
node_modules/.pnpm/node-gyp-build@4.8.4/node_modules/node-gyp-build/node_modules/.bin/node-gyp-build-test
node_modules/.pnpm/node_modules/bufferutil
node_modules/.pnpm/node_modules/node-gyp-build
node_modules/.pnpm/node_modules/obuf
node_modules/.pnpm/node_modules/pg-int8
node_modules/.pnpm/node_modules/pg-numeric
node_modules/.pnpm/node_modules/pg-protocol
node_modules/.pnpm/node_modules/pg-types
node_modules/.pnpm/node_modules/postgres-array
node_modules/.pnpm/node_modules/postgres-bytea
node_modules/.pnpm/node_modules/postgres-date
node_modules/.pnpm/node_modules/postgres-interval
node_modules/.pnpm/node_modules/postgres-range
node_modules/.pnpm/node_modules/undici-types
node_modules/.pnpm/node_modules/ws
node_modules/.pnpm/node_modules/.bin/node-gyp-build
node_modules/.pnpm/node_modules/.bin/node-gyp-build-optional
node_modules/.pnpm/node_modules/.bin/node-gyp-build-test
node_modules/.pnpm/node_modules/@neondatabase/serverless
node_modules/.pnpm/node_modules/@types/node
node_modules/.pnpm/node_modules/@types/pg
node_modules/.pnpm/obuf@1.1.2/node_modules/obuf/index.js
node_modules/.pnpm/obuf@1.1.2/node_modules/obuf/LICENSE
node_modules/.pnpm/obuf@1.1.2/node_modules/obuf/package.json
node_modules/.pnpm/obuf@1.1.2/node_modules/obuf/README.md
node_modules/.pnpm/obuf@1.1.2/node_modules/obuf/test/buffer-test.js
node_modules/.pnpm/pg-int8@1.0.1/node_modules/pg-int8/index.js
node_modules/.pnpm/pg-int8@1.0.1/node_modules/pg-int8/LICENSE
node_modules/.pnpm/pg-int8@1.0.1/node_modules/pg-int8/package.json
node_modules/.pnpm/pg-int8@1.0.1/node_modules/pg-int8/README.md
node_modules/.pnpm/pg-numeric@1.0.2/node_modules/pg-numeric/CHANGELOG.md
node_modules/.pnpm/pg-numeric@1.0.2/node_modules/pg-numeric/index.js
node_modules/.pnpm/pg-numeric@1.0.2/node_modules/pg-numeric/LICENSE
node_modules/.pnpm/pg-numeric@1.0.2/node_modules/pg-numeric/package.json
node_modules/.pnpm/pg-numeric@1.0.2/node_modules/pg-numeric/README.md
node_modules/.pnpm/pg-protocol@1.7.1/node_modules/pg-protocol/LICENSE
node_modules/.pnpm/pg-protocol@1.7.1/node_modules/pg-protocol/package.json
node_modules/.pnpm/pg-protocol@1.7.1/node_modules/pg-protocol/README.md
node_modules/.pnpm/pg-protocol@1.7.1/node_modules/pg-protocol/src/b.ts
node_modules/.pnpm/pg-protocol@1.7.1/node_modules/pg-protocol/src/buffer-reader.ts
node_modules/.pnpm/pg-protocol@1.7.1/node_modules/pg-protocol/src/buffer-writer.ts
node_modules/.pnpm/pg-protocol@1.7.1/node_modules/pg-protocol/src/inbound-parser.test.ts
node_modules/.pnpm/pg-protocol@1.7.1/node_modules/pg-protocol/src/index.ts
node_modules/.pnpm/pg-protocol@1.7.1/node_modules/pg-protocol/src/messages.ts
node_modules/.pnpm/pg-protocol@1.7.1/node_modules/pg-protocol/src/outbound-serializer.test.ts
node_modules/.pnpm/pg-protocol@1.7.1/node_modules/pg-protocol/src/parser.ts
node_modules/.pnpm/pg-protocol@1.7.1/node_modules/pg-protocol/src/serializer.ts
node_modules/.pnpm/pg-protocol@1.7.1/node_modules/pg-protocol/src/testing/buffer-list.ts
node_modules/.pnpm/pg-protocol@1.7.1/node_modules/pg-protocol/src/testing/test-buffers.ts
node_modules/.pnpm/pg-protocol@1.7.1/node_modules/pg-protocol/src/types/chunky.d.ts
node_modules/.pnpm/pg-types@4.0.2/node_modules/pg-int8
node_modules/.pnpm/pg-types@4.0.2/node_modules/pg-numeric
node_modules/.pnpm/pg-types@4.0.2/node_modules/postgres-array
node_modules/.pnpm/pg-types@4.0.2/node_modules/postgres-bytea
node_modules/.pnpm/pg-types@4.0.2/node_modules/postgres-date
node_modules/.pnpm/pg-types@4.0.2/node_modules/postgres-interval
node_modules/.pnpm/pg-types@4.0.2/node_modules/postgres-range
node_modules/.pnpm/pg-types@4.0.2/node_modules/pg-types/index.d.ts
node_modules/.pnpm/pg-types@4.0.2/node_modules/pg-types/index.js
node_modules/.pnpm/pg-types@4.0.2/node_modules/pg-types/package.json
node_modules/.pnpm/pg-types@4.0.2/node_modules/pg-types/README.md
node_modules/.pnpm/postgres-array@3.0.2/node_modules/postgres-array/index.d.ts
node_modules/.pnpm/postgres-array@3.0.2/node_modules/postgres-array/index.js
node_modules/.pnpm/postgres-array@3.0.2/node_modules/postgres-array/license
node_modules/.pnpm/postgres-array@3.0.2/node_modules/postgres-array/package.json
node_modules/.pnpm/postgres-array@3.0.2/node_modules/postgres-array/readme.md
node_modules/.pnpm/postgres-bytea@3.0.0/node_modules/obuf
node_modules/.pnpm/postgres-bytea@3.0.0/node_modules/postgres-bytea/decode-test.js
node_modules/.pnpm/postgres-bytea@3.0.0/node_modules/postgres-bytea/decode.js
node_modules/.pnpm/postgres-bytea@3.0.0/node_modules/postgres-bytea/decoder-test.js
node_modules/.pnpm/postgres-bytea@3.0.0/node_modules/postgres-bytea/decoder.js
node_modules/.pnpm/postgres-bytea@3.0.0/node_modules/postgres-bytea/encoder-test.js
node_modules/.pnpm/postgres-bytea@3.0.0/node_modules/postgres-bytea/encoder.js
node_modules/.pnpm/postgres-bytea@3.0.0/node_modules/postgres-bytea/index.js
node_modules/.pnpm/postgres-bytea@3.0.0/node_modules/postgres-bytea/license
node_modules/.pnpm/postgres-bytea@3.0.0/node_modules/postgres-bytea/package.json
node_modules/.pnpm/postgres-bytea@3.0.0/node_modules/postgres-bytea/readme.md
node_modules/.pnpm/postgres-date@2.1.0/node_modules/postgres-date/index.d.ts
node_modules/.pnpm/postgres-date@2.1.0/node_modules/postgres-date/index.js
node_modules/.pnpm/postgres-date@2.1.0/node_modules/postgres-date/license
node_modules/.pnpm/postgres-date@2.1.0/node_modules/postgres-date/package.json
node_modules/.pnpm/postgres-date@2.1.0/node_modules/postgres-date/readme.md
node_modules/.pnpm/postgres-interval@3.0.0/node_modules/postgres-interval/index.d.ts
node_modules/.pnpm/postgres-interval@3.0.0/node_modules/postgres-interval/index.js
node_modules/.pnpm/postgres-interval@3.0.0/node_modules/postgres-interval/license
node_modules/.pnpm/postgres-interval@3.0.0/node_modules/postgres-interval/package.json
node_modules/.pnpm/postgres-interval@3.0.0/node_modules/postgres-interval/readme.md
node_modules/.pnpm/postgres-range@1.1.4/node_modules/postgres-range/index.d.ts
node_modules/.pnpm/postgres-range@1.1.4/node_modules/postgres-range/index.js
node_modules/.pnpm/postgres-range@1.1.4/node_modules/postgres-range/LICENSE
node_modules/.pnpm/postgres-range@1.1.4/node_modules/postgres-range/package.json
node_modules/.pnpm/postgres-range@1.1.4/node_modules/postgres-range/README.md
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/agent.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/api.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/balanced-pool.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/cache.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/client.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/connector.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/content-type.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/cookies.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/diagnostics-channel.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/dispatcher.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/env-http-proxy-agent.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/errors.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/eventsource.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/fetch.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/file.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/filereader.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/formdata.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/global-dispatcher.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/global-origin.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/handlers.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/header.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/index.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/interceptors.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/LICENSE
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/mock-agent.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/mock-client.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/mock-errors.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/mock-interceptor.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/mock-pool.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/package.json
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/patch.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/pool-stats.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/pool.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/proxy-agent.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/readable.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/README.md
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/retry-agent.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/retry-handler.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/util.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/webidl.d.ts
node_modules/.pnpm/undici-types@6.20.0/node_modules/undici-types/websocket.d.ts
node_modules/.pnpm/ws@8.18.0_bufferutil@4.0.9/node_modules/bufferutil
node_modules/.pnpm/ws@8.18.0_bufferutil@4.0.9/node_modules/ws/browser.js
node_modules/.pnpm/ws@8.18.0_bufferutil@4.0.9/node_modules/ws/index.js
node_modules/.pnpm/ws@8.18.0_bufferutil@4.0.9/node_modules/ws/LICENSE
node_modules/.pnpm/ws@8.18.0_bufferutil@4.0.9/node_modules/ws/package.json
node_modules/.pnpm/ws@8.18.0_bufferutil@4.0.9/node_modules/ws/README.md
node_modules/.pnpm/ws@8.18.0_bufferutil@4.0.9/node_modules/ws/wrapper.mjs
node_modules/@vercel/postgres
